name: csc_picker
description: A flutter package to display list of Countries, States and Cities depends on Selected, also you can search country, state, and city all around the world.
version: 0.2.7
homepage: https://github.com/altafc22/csc_picker

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  assets:
    - lib/assets/
